<!DOCType html>
<html>
<head>
	<% include ./partials/head %>
</head>
<body>
	<% include ./partials/header %>
<h1>Login Page </h1>
<form action="/login" method="post">
  <input type="text" name="username" placeholder="Enter your username">
  <input type="password" name="password" placeholder="Enter your password">
  <button class="btn btn-default">Login </button>
</form>

<footer class="col-md-12 text-center">
  <% include ./partials/footer %>
</footer>
</div>
</body>
</html>
